# requirements.txt

# Airflow
apache-airflow==2.6.3

# Data processing and visualization
pandas==1.5.3
numpy==1.24.3
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2

# AutoML tool
tpot==0.11.7

# Google Sheets interaction (if needed)
gspread==5.9.0
oauth2client==4.1.3

# Other dependencies
joblib==1.2.0
